@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #695ae7;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    height: 50px;
    padding: 15px;
    border: 0;
    width: 50px;
    font-size: 18px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transform: transform 0.3s ease-in;
}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}